<header class="pathhead">
  <div class="pathhead__inner">
    <a class="pathhead__brand" href="{{ urls.home }}">
      <span class="pathhead__blaze" aria-hidden="true"></span>
      <span class="pathhead__show">{{ podcast.title | escape }}</span>
    </a>
    <h1 class="pathhead__title display">{{ title | escape }}</h1>
  </div>
</header>
